body {
  margin: 30px;
  background-color: rgb(30, 13, 41);
  color: lightgrey;
}

.letter-known {
  width: 20px;
}

.letter-elsewhere {
  width: 70px;
}

input {
  background-color: rgb(214, 213, 216);
}
.form-group {
  margin: 5px;
}

button {
  margin-top: 10px;
}