.container {
  max-width: 500px;
  padding: 0;
  margin: auto;
  /* min-height: 100vh; */
}

header {
  text-align: center;
  padding-top: 1em;
  padding-bottom: .25em;
}

footer {
  text-align: center;
  padding-top: .75em;
  padding-bottom: 1em;
  margin: auto;
}

footer span {
  padding-left: 2.75em;
  padding-right: 2.75em;
}

.instructions-container {
  text-align: center;
}

#instructions {
  margin-top: 1em;
  display: inline-block;
  text-align: left;
}

#instructions p {
  margin-bottom: 0.25em;
}

#instructions .color-name {
  padding: 4px 5px 4px 5px;
}

.card {
  margin-bottom: .25em;
  border: none;
}

form {
  margin-top: 2em;
  margin-bottom: 2em;
}

.letters {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;
}

.letters .letter, .letters #nowhere {
  height: 62px;
  font-size: 2rem;
  font-weight: bolder;
}

.letters .letter {
  width: 62px;
  text-align: center;
}

.letters #nowhere {
  width: 100%;
  max-width: 310px;
  text-align: left;
  letter-spacing: 0.5em;
  padding-left: 0.5em;
}

.btn#button-go {
  width: 100%;
  max-width: 310px;
  margin-top: 1em;
  font-size: 1.5rem;
  font-weight: bold;
  height: 2.5rem;
}

.btn#toggle-colors, #restart {
  width: 6em;
}

.info {
  margin-left: 1em;
}

#output {
  display: none;
}

@media screen and (max-width: 499px) {
  .extra {
    display: none;
  }
  
  .btn#restart {
    margin-right: 1em;
  } */
}