.container {
  padding: 1em;
}

h2 {
  margin-left: .25em;
  margin-bottom: 1em;
}

.card {
  margin-bottom: 1em;
}

form {
  margin-top: 2em;
  margin-bottom: 2em;
}

.form-group {
  margin-left: 0em;
  margin-bottom: 1em;
}

.form-group .letter {
  width: 2.5em;
}

.form-group .nowhere {
  width: 12.5em;
}

footer {
  margin-left: .5em;
  margin-top: 2em;
}

#output {
  display: none;
}

.btn {
  margin-top: 1em;
  margin-left: .75em;
}

.btn#button-go {
  width: 12.5em;
}

.btn#toggle-colors, #restart {
  width: 6em;
  margin-right: 1.75em;
  margin-left: 1.25em;
}


@media only screen and (min-width: 768px) {
  .btn {
    margin-left: 0.8em;
    margin-right: 0.8em;
  }
}

@media only screen and (min-width: 1053px) {
  body {
    margin: 50px;
  }
  .container {
    padding: 3em;
    margin-top: 1em;
  }
}






/* *********************** */
/*         COLORS          */
/* *********************** */

.color-name {
  padding: 2px 10px 2px 10px;
  font-weight: 900;
  color: black;
}

.color-name#green {
  background: #28a745;
}

.color-name#yellow {
  background: yellow;
}

.color-name#grey {
  background: rgb(199, 198, 198);
}

@media (prefers-color-scheme: light) {
  body {
    color: #121212;
    background: #eee;
  }

  .container {
    background:rgb(225, 206, 245);
  }

  h2 {
    color: #121212;
  }

  .card, input {
    background: #eee;
    color: #121212;
  }
  
  label {
    color: #121212;
  }

  footer a {
    color: #121212;
  }

  body.dark-theme {
    color: #eee;
    background: #121212;
  }
  
  body.dark-theme .container {
    background: rgb(38, 23, 88);
  }
  
  body.dark-theme h2 {
    color: lightgrey;
  }

  body.dark-theme .card {
    background: black;
    color: lightgrey;
  }
  
  body.dark-theme input {
    background: black;
    color: white;
  }
  
  body.dark-theme label {
    color: lightgrey;
  }

  body.dark-theme footer a {
    color: lightgrey;
  }

}

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background: #121212;
  }

  .container {
    background: rgb(38, 23, 88);
  }

  h2 {
    color: lightgrey;
  }

  .card {
    background: black;
    color: lightgrey;
  }
  
  input {
    background: black;
    color: white;
  }
  
  label {
    color: lightgrey;
  }

  footer a {
    color: lightgrey;
  }

  body.light-theme {
    color: #121212;
    background: #eee;
  }
  
  body.light-theme .container {
      background:rgb(225, 206, 245);
  }

  body.light-theme h2 {
    color: #121212;
  }

  body.light-theme .card, input {
    background: #eee;
    color: #121212;
  }
  
  body.light-theme label {
    color: #121212;
  }

  body.light-theme footer a {
    color: #121212;
  }
}
